.logo {
  font-family: "Sansita Swashed", cursive;
}

.user-profile-image {
  object-fit: cover;
  object-position: 75% 75%;
}

h3 {
  font-family: Sansita, serif;
}

img {
  cursor: pointer;
  transition: 0.5s ease-out;
  object-fit: cover;
  margin: 0.1rem;
  flex-grow: 1;
}

.photo-gallery,
.user-gallery {
  transition: 1s linear;
}

.card-container {
  cursor: pointer;
  border: 1px solid grey;
  border-radius: 10px;
  background-color: rgb(241, 239, 239);
}

p {
  display: inline;
  font-family: Roboto, serif;
  font-weight: bold;
}

.landscape {
  width: 75%;
}

.portrait {
  width: 22%;
}

.square {
  width: 60%;
}
