.logo {
  font-family: "Sansita Swashed", cursive;
}

.profile {
  object-fit: cover;
  object-position: 75% 75%;
}

.nav-item {
  text-align: start;
}

i {
  padding: 5px;
}

.navbar-color {
  background-color: #989798;
}

.container {
  width: 80%;
  margin: auto;
}

.img-gallery {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  transition: 1s linear;
}

.landscape {
  width: 75%;
  flex-grow: 1;
  margin: 1px;
  object-fit: cover;
  transition: 0.5s ease-out;
  cursor: pointer;
}

.portrait {
  width: 22%;
  flex-grow: 1;
  margin: 1px;
  object-fit: cover;
  transition: 0.5s ease-out;
  cursor: pointer;
}

.square {
  width: 60%;
  flex-grow: 1;
  margin: 1px;
  object-fit: cover;
  transition: 0.5s ease-out;
  cursor: pointer;
}

@media screen and (min-width: 600px) {
  .landscape {
    width: 60%;
    flex-grow: 2;
  }

  .portrait {
    width: 19%;
  }

  .square {
    width: 39%;
    flex-grow: 0;
  }
}

@media screen and (min-width: 700px) {
  .landscape {
    width: 48%;
  }

  .portrait {
    width: 20%;
  }

  .square {
    width: 40%;
    flex-grow: 2;
  }
}

@media screen and (min-width: 980px) {
  .landscape {
    width: 36%;
  }

  .portrait {
    width: 15%;
  }

  .square {
    width: 30%;
  }
}

@media screen and (min-width: 1400px) {
  .landscape {
    width: 30%;
  }

  .portrait {
    width: 10%;
  }

  .square {
    width: 20%;
  }
}

@media screen and (min-width: 1600px) {
  .landscape {
    width: 25%;
  }

  .portrait {
    width: 10%;
  }

  .square {
    width: 20%;
  }
}
